<h1><%= @profile.name %></h1>

<% if @profile.user_id == current_user.id %>
	<h3>Email</h3>
	<p><%= @profile.user.email %></p>
<% end %>

<%= image_tag @profile.image, size: "100x100" %>

<h3>About Me</h3>
<p><%= @profile.about %></p>

<h3>Signature</h3>
<%= raw(@profile.signature) %>

<% if @profile.user_id == current_user.id %>
	<%= link_to "Edit Profile", edit_profile_path(current_user.profile.id) , class: "btn btn-default" %>
<% end %>
