
<h1>Pokemon Forum <%= link_to 'Add Category', new_category_path, class: "btn btn-default" %></h1>

<% @categories.each do |category| %>
  <div class="row">
    <div id="faq" class="col-md-9">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                href="#collapse-1"><%= category.title %>
<%= link_to 'Edit Category', edit_category_path(category), class: "btn btn-default" %>
<%= link_to 'Delete Category', category_path(category), method: :delete, class: "btn btn-default" %>
<%= link_to 'Add Forum', new_category_forum_path(category), class: "btn btn-default" %>
              </a>
            </h4>
          </div>
          <div id="collapse-1" class="panel-collapse collapse">
            <div class="panel-body"><%= render category.forum %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
