<!DOCTYPE html>
<html>
<head>
  <title>Pokemon Forum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<%= link_to "Pokemon Forum", root_path, class: "navbar-brand" %>
		</div>
		<ul class="nav navbar-nav">
			<li><%= link_to "Sign Up", new_user_registration_path %></li>
			<% if user_signed_in? %>
				<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
			<% else %>
				<li><%= link_to "Login", new_user_session_path %></li>
			<% end%>	
		</ul>
		<% if user_signed_in? %>
			<% if not current_user.profile.blank? %>
				<%= link_to "Profile", profile_path(current_user.profile_id), class: "navbar-right navbar-text navbar-link" %>
				<%= link_to "Users", users_path, class: "navbar-right navbar-text navbar-link" %>
			<% end %>
			<% if current_user.try(:admin?) %>
				<%= link_to "Groups", groups_path, class: "navbar-right navbar-text navbar-link" %>
				<%= link_to "Admin Control Panel", admin_index_path, class: "navbar-right navbar-text navbar-link" %>
			<% end %>
		<% end %>
	</div>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
